<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <div class="top-header">
            <div class="logo">
                <img src="/image/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
            </div>
            <form class="shearch" action="#" method="GET">
                <label class="shearch-bar">Buscar productos, marcas y más</label>
                <button type="button" class="shearch-i"><i class="fa fa-search"></i></button>
            </form>
            <div class="dues-card">
                <p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>

        <nav class="nav-bar">
            <ul class="nav-start">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="nav-end">
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    <main class="register-main">
        <form class="form" action="/register" method="post">
            <input type="txftext" id="txfname" name="name" placeholder="Nombre y Apellido" required>
            <input type="txftext" id="txfname" name="name_user" placeholder="Nombre de Usuario" required>
            <input type="email" id="txfemail" name="email" placeholder="Email" required>
            <h5>Fecha de nacimiento</h5>
            <input type="date" id="txfnunmber" name="date_birth" required>
            <input type="text" id="txfadress" name="adress" placeholder="Domicilio" required>
            <h5>Perfil del Usuario</h5>
            <div>
                <input type="radio" id="rbdprofile" value="comprador" name="isProfile" required>
                <label for="rbdprofile">Comprador</label>
                <input type="radio" id="rbdprofile" value="vendedor" name="isProfile" required>
                <label for="rbdprofile">vendedor</label>
            </div>
            <h5>Categorias de Interes</h5>
            <div class="form_chk">
                <div>
                    <input type="checkbox" id="chkelectro" name="isElectro" value="Electro">
                    <label for="chkelectro">Electro</label>
                </div>
                <div>
                    <input type="checkbox" id="chkFashion" name="isFashion" value="Moda">
                    <label for="chkFashion">Moda</label>
                </div>
                <div>
                    <input type="checkbox" id="chkHome" name="isHome" value="Hogar">
                    <label for="chkHome">Hogar</label>
                </div>
                <div>
                    <input type="checkbox" id="chkToyStore" name="isToyStore" value="Jugueteria">
                    <label for="chkToyStore">Jugueteria</label>
                </div>
                <div>
                    <input type="checkbox" id="chkLife" name="isLife" value="Vida Sana">
                    <label for="chkLife">Vida Sana</label>
                </div>
            </div>
            <h5>Foto de Usuario</h5>
            <input type="file" accept="image/jpg" id="txfimage" name="image" required>
            <input type="password" id="txfpassword" name="password" placeholder="Contraseña">
            <input type="password" id="txfpassword_confirm" name="confirm_password" placeholder="Confimar Contraseña">
            <div class="button_form">
                <button type="submit">Enviar</button>
                <button type="reset">Limpiar Formulario</button>
            </div>
        </form>
    </main>
    <footer class="footer">

        <div>
            <i class="fas fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div>
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div>
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </div>

        <h6 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
    </footer>
</body>

</html>